CREATE POLICY \
Admins
Selection
on
Site
Views\ ON site_views FOR SELECT USING (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND is_admin = true));
CREATE POLICY \Public
Read
Visits\ ON site_visits FOR SELECT USING (true);
